@charset "utf-8";
/* CSS Document */

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* *************************************************************************************** */

/* Estructura */
#header, #container, #footer { margin:0 auto; width:978px; position:relative;}
#header { border-bottom:#C5C5C5 solid 1px; padding-bottom:5px; height:54px; margin-bottom:10px;}
#container { height:527px;}
#footer { border-top:#C5C5C5 solid 1px; height:30px; margin-top:10px;}

/* Estilos generales */
body {font-family:Arial, Helvetica, sans-serif;}
.hide { display:none;}
.hide2 { position:absolute; display:block; width:0; height:0; overflow:hidden;}
a{cursor:pointer; outline:none; text-decoration: none;}
img {border:none;}
.floatRight { float:right;}
.floatLeft { float:left;}
.alignCenter { margin:0 auto;}

/* Contenido cabecera */
#header h1 { width:113px; height:54px;}
#header ul { position:absolute; bottom:5px; left:120px;}
	#header li { font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:13px; float:left; margin-left:34px;}
		#header li a { color:#999999; text-decoration:none; text-transform:uppercase;}
			#header li a:hover, #header li a.active { color:#333333}
#header #modelselector { position:absolute; bottom:5px; left:820px;}
	#header select { border:#C5C5C5 solid 1px; width:158px; height:20px; font-size:10px; text-transform:uppercase;}
	
.selected_menu, .selected_letter { font-weight:bold;}

/* Contenido pie */
#footer p {font-size:10px; color:#666666; text-transform:uppercase; float:left; line-height:50px;}
#footer ul {font-size:10px; color:#999999;}
	#footer ul li { float:right; line-height:50px;}
		#footer ul li a {color:#999999; text-decoration:none;}
		#footer ul li img { margin-left:10px; margin-top:14px;}

/* Modulos Container */

	/* Intro site */
.models_intro { background-color:#FFFFFF; position: absolute; width: 978px;  z-index: 99; height:527px;}
.models_intro ul li{ float:left;}
#saltar_intro { z-index:99; width:977px; height:90px; position:absolute; bottom:0; left:0; line-height: 85px; text-align:center; color:#FFFFFF; background:transparent url(../img/fondo_saltar_intro.png) top left repeat-x; font-size:12px;}

	/* Listado de modelos por book */
	#primerplano { height:500px; overflow:auto;}
		#primerplano li { width:185px; height:241px; border:solid 1px #C8C8C8; float:left; margin:0 5px 8px 0; position:relative;}
			#primerplano li strong { display:block; position:absolute; bottom:0; width:185px; height:23px; background-color:#000000; color:#CCCCCC; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; text-align:center; line-height:22px; font-weight:bold; text-transform:uppercase;}
				#primerplano li a:hover strong { background-color:#FFFFFF; color:#333333;}
				
	#alfabeto { font-size:14px; margin:10px 0 0 290px;}
		#alfabeto li { float:left; margin:0 2px;}
			#alfabeto li a { color:#999999; text-decoration:none;}
				#alfabeto li a:hover, #alfabeto li a.active { color:#333333;}
	
	/* Book */
	#book { width:275px; height:345px; margin-top:110px; float:left;}
		#book h2 { font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:17px; color:#999999; text-transform:uppercase; letter-spacing:5px; word-spacing:-10px; margin-bottom:23px;}
			#book h2 strong { color:#333333;}
		#book dl { font-size:11px;}
			#book dl dt { display:inline-block; clear:left; float:left; color:#333333; margin-right:5px; margin-bottom: 10px;}
			#book dl dd { color:#999999; clear:right; float:left;} 
		#book h3.videos { clear:both; font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:11px; color:#999999; text-transform:uppercase; padding-top: 40px; padding-bottom:5px;}
		#book ul { clear:both; margin-bottom:30px;}
			#book ul li { width:80px; height:85px; float:left; margin:0 5px 5px 0;}
				#book ul li a { font-size:9px; color:#666666; text-decoration:none;}
		#book h3.composite { clear:both; font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:12px; color:#333333; text-decoration:none; padding-top: 30px; padding-bottom: 5px;}
			#book h3.composite a { color:#333333; text-decoration:none;}
	
	#galeria { width:405px; height:345px; float:left; padding-left: 70px;}
	
	#backfrombook { position:absolute; top:20px; right:20px; color:#333333; text-decoration:none;}
	
	/* Formulario "Become a model" */
	#menu_become_a_model {}
		#menu_become_a_model h2 { font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:17px; color:#999999; text-transform:uppercase; letter-spacing:5px; margin: 23px 0;}
			#menu_become_a_model h2 span { color:#333333;}

	#menu_become_a_model label { font-size:11px; color:#999999;}
		#menu_become_a_model label strong { color:#666666;}	
	#menu_become_a_model input[type=text] {	border: 1px solid #C5C5C5; font-size: 10px; height: 20px; width: 158px;	}
	
	
.container_formdatos{ height: 360px; width: 600px;}

#menu_become_a_model .coldatos div { width:280px; height:30px;}
	#menu_become_a_model .coldatos div input { float:right;}
	#menu_become_a_model .coldatos div label { display: block; float: left; line-height: 25px; text-align: right; width: 110px;;}

#menu_become_a_model .coldatos .gender { font-size: 11px; padding: 0 5px 0 115px; text-transform: uppercase;}
#menu_become_a_model .coldatos .nobullet { display: inline; float: none; width: auto;}
#menu_become_a_model .coldatos #female, #menu_become_a_model .coldatos #male { float:none; vertical-align: middle;}

.col1{ float : left;}
.col2{ float : right;}
.adjuntos{ width:600px; height: 80px;}

#menu_become_a_model .bloqueAdjuntos div { width:600px; height:30px;}
#menu_become_a_model .bloqueAdjuntos div label { display: block; float: left; line-height: 25px; text-align: right; width: 300px;;}

#menu_become_a_model .bloqueAdjuntos div input { float:right;}

#menu_become_a_model div.agree { width:925px;}
	#menu_become_a_model div.agree label { float:none; display:inline; font-size:12px; margin-right:40px;}
	#menu_become_a_model div.agree input { float:none;}
	
#requirements { font-size:11px; font-weight:400; position:absolute; top:0; right:50px; width:240px; line-height: 13px;}
	#requirements .spanish { color:#333333; margin-bottom:30px;}
	#requirements .english { color:#666666;}
    	#requirements h3 { margin-bottom:15px;}
        #requirements p { margin-bottom:15px;}

	/* Contacto */
#menu_contact { font-size:12px; color:#999999; padding:135px 0 0 370px; width:250px;}
	#menu_contact p { margin-bottom:20px;}
	#menu_contact span { color:#666666; font-weight:400;}
	#menu_contact strong { color:#333333; font-weight:400;}
	#menu_contact a { color:#999999; text-decoration:none;}
		#menu_contact a:hover { color:#666666; text-decoration:underline;}
	
/* Estilos personalizados de cursor mediante jQuery: BOC */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {	overflow:hidden; position:relative;}
.jspPane { position: absolute;}
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 10px; height: 100%; background: #CCCCCC;}
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red;}
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0;}
.jspCap { display: none;}
.jspHorizontalBar .jspCap { float: left;}
.jspTrack { background: #CCCCCC; position: relative;}
.jspDrag { background: #999999; position: relative; top: 0; left: 0; cursor: pointer;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%;}
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer;}
.jspArrow.jspDisabled { cursor: default; background: #80808d;}
.jspVerticalBar .jspArrow { height: 16px;}
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%;}
.jspVerticalBar .jspArrow:focus { outline: none;}
.jspCorner { background: #eeeef4; float: left; height: 100%;}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0;}
/* Estilos personalizados de cursor mediante jQuery: EOC */

/* Estilos personalizados de carrusel mediante jQuery: BOC */
.pikachoose {width: 520px; margin: 0 auto;}

/* Style the thumbnails */
.pika-thumbs{ padding: 0 16px;height: 66px;}
	.pika-thumbs li{ width: 46px; height:57px; margin: 5px 3px 0 0; padding: 0; overflow: hidden; float: left; list-style-type: none; background: #CCCCCC; border: 1px solid #999999; cursor: pointer;}
	.pika-thumbs li:last {margin: 0;}
	.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: center; overflow: hidden;}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {width: 320px;}
.pika-stage {position: relative; border: 1px solid #e5e5e5; padding:0; text-align:center; height:459px; margin-left: 40px;}
.pika-stage img{height:100%;}
.pika-stage .caption {position: absolute; background: #000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
	.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(../img/prev.png) no-repeat left 45%; height: 100%; width: 50px; top: 10px; left: -40px;cursor:pointer;}
	.pika-imgnav a.next {background: url(../img/next.png) no-repeat right 45%; height: 100%; width: 50px; top: 10px; right: -40px;cursor:pointer;}
	.pika-imgnav a.play {background: url(../img/play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(../img/pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}
	/* Ocultamos los controles de la imagen grande */
	/*.pika-imgnav a.previous, .pika-imgnav a.next, .pika-imgnav a.play, .pika-imgnav a.pause, .pika-textnav { display:none;}*/

/* The previous and next textual buttons */
.pika-textnav {overflow: hidden; margin: 10px 0 0 0;bottom:10px; position:absolute;}
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color:#333333;border:3px solid black;}
.pika-counter{position: absolute;bottom: 45px;left:15px;color:white;background:#333333;font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background: url(../img/loading.gif) 3px 3px no-repeat #000; background-color:#333333; color:#FFFFFF; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }
	
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 0; overflow:hidden;width: 404px;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 90px; width: 485px;left: 30px;}
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 3px;}


.jcarousel-skin-pika .jcarousel-prev-horizontal {
    background: url(../img/prev.png) no-repeat scroll 50% 50% #FFFFFF;
    cursor: pointer;
    height: 60px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 32px;
}

.jcarousel-skin-pika .jcarousel-next-horizontal {
    background: url(../img/next.png) no-repeat scroll 50% 50% #FFFFFF;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 32px;
}


/* Estilos personalizados de carrusel mediante jQuery: EOC */

/* Administrador */
#cabecera { width:970px; height:50px; padding:15px;}
	#cabecera h1 { font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:17px; color:#999999; }
#secciones { width:150px; height:750px; float:left; padding:15px;}
	#secciones li { font-size:14px; background:#FFFFFF url(../img/bullet.png) no-repeat left top; padding-left:14px; margin-bottom:5px;}
		#secciones li a {color:#5F5F5F;}
			#secciones li a:hover { text-decoration:underline;}
			#secciones li.active { font-size:13px; font-weight:bold;}
#panelCentral { width:790px; height:auto; float:left; padding:15px; border-left: solid 1px #999999; }	
	#panelCentral h2 { font-family: ‘Abel’, Arial, serif; font-weight:400; font-size:17px; color:#999999; margin-bottom:10px; border-bottom:solid 1px #999999;}
	#panelCentral p { margin-bottom:15px;}
	#panelCentral fieldset { border:solid 1px #999999; padding:10px; margin-bottom:25px;}
	#panelCentral legend { font-size:14px; font-weight:bold;}
	#panelCentral ul.rotabanner li { margin-bottom:15px;}
	#panelCentral ol li { margin-bottom:5px; list-style:inside decimal;}
		#panelCentral ol li a { color:#999999;}
			#panelCentral ol li a:hover { text-decoration:underline;}
	#panelCentral div.agree { width: 100%; text-align:right;}
	#panelCentral .adjuntos { height:520px;}
	#panelCentral .container_formdatos { height: 460px;}
	#panelCentral .listavideos li ul { margin-bottom:20px; border-bottom:solid 1px #999999;}
	.rotabanner label { display: block; float: left; line-height: 25px; text-align: right; width: 110px; color: #999999; font-size: 11px;}
.rotabanner input[type="text"] { border: 1px solid #C5C5C5; font-size: 10px; height: 20px; width: 158px; margin-left:5px;}
#ok { border:#33FF00 solid 2px; background-color: #00FF99; margin:20px 0;}
#ko { border: #FF0000 solid 2px; background-color: #FF6666; margin:20px 0;}
	#ok div, #ko div { border:#FFFFFF solid 2px; padding:25px; }